{# templates/soumission/edit.html.twig #}
{% extends '/etudiant/student_base.html.twig' %}

{% block title %}Modifier la soumission{% endblock %}

{% block student_content %}
<div class="row">
    <div class="col-md-8 offset-md-2">
        <h1>Modifier la soumission</h1>

        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
        
        <div class="card mt-4">
            <div class="card-body">
                {{ form_row(form.evaluation) }}
                {{ form_row(form.idEtudiant) }}
                {{ form_row(form.fichierSoumissionUrl) }}
                {{ form_row(form.commentaireEtudiant) }}
            </div>
        </div>

        <div class="mt-3">
            <button type="submit" class="btn btn-warning">Mettre à jour</button>
            <a href="{{ path('app_soumission_index') }}" class="btn btn-secondary">Annuler</a>
        </div>

        {{ form_end(form) }}
    </div>
</div>
{% endblock %}